<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="raspi_host" value="" />
    <add key="raspi_port" value="" />
    <add key="raspi_user" value="" />
    <add key="raspi_private_key_path" value="" />
    <add key="raspi_twitter_token_json_path" value="" />
    <add key="slack_access_token" value="" />
    <add key="slack_channel_name" value="" />
    <add key="icon_on_form" value="🐢" />
  </appSettings>
</configuration>